.home{
    display: flex;
    justify-content: space-between;
}
.left-h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* max-width: 1000px; */
}
.the-best-ad{
    margin-top: 3rem;
    background-color: #363d42;
    border-radius: 4rem;
    width: fit-content;
    /* height: 2.5rem; */
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.the-best-ad>span{
    z-index: 2;
    font-size: 20px;
}
.the-best-ad>div{
    position: absolute;
    background-color:  #F96167;
    width: 5.4rem;
    height: 80%;
    border-radius: 4rem;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}
.home-text{
    margin-top: 5rem;
    color: white;
    gap: 3.5rem;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: bold;
    text-overflow: inherit;
    animation: home;
    line-height: 2cm;
}

.role{
    color:  #F96167;
}

.user-image{
    padding:2rem;
    position: absolute;

    filter:grayscale(1);
    transition:all 1s;
    animation: scaleImage 5s linear infinite;
  }
  .user-image img{
    z-index:9;
    height: 280px;

  }
  @keyframes scaleImage {

    0%{
        filter:grayscale(0);
        transform:scale(1);
        
    }

    50%{
        transform:scale(1.1);
        filter:grayscale(1);
        /* box-shadow: 3px 3px 10px rgb(6, 114, 110); */
        box-shadow: 0 5px 10px var(--secondary-color);
    }

    100%{
        transform:scale(1);
        filter:grayscale(0);
    }
    
  }