.contact-container {
  /* margin: 100px; */
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  /* gap: 20rem; */
  background-color: rgb(219 219 173);
    width: 500px;
  /* display: flex; */
}

h1 {
  text-align: center;
  font-size:xx-large;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.homi>li:hover{
    color: #F96167;
    
}
button {
  /* background-color: #4caf50; */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid black;
  background-color: #F96167;
  width: fit-content;
  color: white;
  padding: 0.5rem ;
  box-shadow: 5px 5px 7px 0px #0000003f;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}

button:hover {
  background-color: #F96167;
}
.form-group>input{
    color: rgb(7, 7, 174);
}


button::before {
    content: "";
    position: absolute;
    background-color: #031631;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
button:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    border: solid 3px var(#F96167);
    color: black;
  }
